.font-holder {
    position: absolute;
    display: none;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}
.font-holder:before {
    content: "";
    display: inline-block;
    height: 100%; 
    vertical-align: middle;
    margin-right: -0.25em;
}
    .font-centering {
        display: inline-block;
        vertical-align: middle;
        width: 70%;
    }
    .font-header {
        text-align: left;
        font-weight: 200;
    }
    .font-data {
        font-weight: 400;
    }

.font-display {
    margin: 20px 0;
    font-size: 3vmax;
    font-family: "FontDisplay";
    line-height: 1.2em;
    cursor: text;
}